# Node.js backend
node_modules/
.env
/dist

# React frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# IDE/editor specific
.vscode/
.idea/

# Miscellaneous
.pnp
.pnp.js
