@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.container {

   
    margin-top: 4vh;
}

.section-heading {
    font-family: "Robotto";
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    color: #183b56;
    margin-bottom: 2vh;
    
}


.wcu_cards {

   height: 50vh;
   width: 100vw;

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
  

   .wcu_content{
    height: 40vh;
    width: 25vw;
    background-color: rgb(213, 239, 235);
    border-radius: 10px;


    .wcu_image{
        height: 50%;
        img{
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
        margin-bottom: 1vh;
    }

    .wcu_bottom{
        height: 50%;
        padding: 1vmax;
        .wcu_bottom_heading{
            font-size: 1.5vmax;
            font-family: bold;
        }
        .wcu_bottom_paragraph{
            font-size: 1vmax;
        }
    }
   }



}

@media (max-width:700px)
{
    .container{
        height:140vh;
    }
    .wcu_cards{
        display: flex;
        flex-direction: column;
        height: 120vh;
        align-items: center;
        

    }
    .wcu_content{
        height:25vh;
        margin: 2vh;
       width: 40vw;
    }
}

